@link url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@link url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@link url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);


body {
  font-family: 'Droid Serif';
  font-size: 11 px;
 }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight:small;
}
div{
  font-size: 11px;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-left: 26em;
  font-size: 60%;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}
/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
  padding-right: 1em;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 73%;
  float: right;
  padding-top: 1em;
  font-size: 0.7em;
  font-family: 'Droid Serif';
}
.right-column h1, .inverse h2, .inverse h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: lighter;
}


.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 53%;
  font-size: 0.7em;
  font-family: 'Droid Serif';
}
.pull-right ~ * {
  clear: both;
}
img {
  max-width: 100%;
}
.reduite img {
  max-height: 500px;
}
.reduite2 img {
  max-height: 160px;
}
.blockquote {
  border-left: solid 2px lightgray;
  padding-left: 1em;
  font-size: 0.3 em;
  font-weight:small;
}
 td {
  border: 0.2px solid;
  text-align: center;
  font-size-adjust: auto;
  font-weight:normal;
  padding: 5px;
  font-size: 0.3 em;
}
th{
  border: 0.2px solid;
  text-align: center;
}
